<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: dogs_path, method: :get, class: "d-flex" do %>
          <div data-controller='address-autocomplete' data-address-autocomplete-placeholder-value='<%= params[:location] %>' data-address-autocomplete-api-key-value='<%= ENV['MAPBOX_API_KEY']%>'>
            <%= text_field_tag :location,
                  params[:location],
                  data: { address_autocomplete_target: 'address' },
                  class: "form-control d-none",
                  placeholder: "Type a keyword"
              %>
          </div>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  <div class='row'>
    <div class='col-6'>
      <h1 class="text-center">Pick your Doggo</h1>

      <% @dogs.each do |dog| %>
        <div class="card-product my-2">
          <%= cl_image_tag dog.image.key %>
          <div class="card-product-infos">
            <%= link_to dog.name, dog_path(dog) %>
            <p>Size: <%= dog.size %></p>
            <p>Location: <%= dog.address %></p>
            <p>Cute doogo awaits you<strong>to walk and Woof Woof</strong>.</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class='col-6' style='min-height: 100vh'>
      <div style="width: 100%; height: 600px; position: sticky; top: 0px"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
