<div class='container'>
  <div class='row mt-5'>
    <div class='col text-center'>
      <div class='bg-white rounded-lg shadow p-5'>
        <img src="https://images.unsplash.com/photo-1590419690008-905895e8fe0d?q=80&w=600" height='300' width='300' class='rounded-circle object-fit-cover' alt="dog">
        <div class="py-3">
          <h2><%= @dog.name %></h2>
          <div>Address: <%= @dog.address %></div>
          <div>Size: <%= @dog.size %></div>
          <div>Breed: <%= @dog.breed %></div>
          <p>Cute doogo awaits you <strong>to walk and Woof Woof</strong>.</p>
        </div>
      </div>
    </div>
    <div class='col'>
      <div class="bg-white rounded-lg shadow p-5">
        <%= render "bookings/form", dog: @dog, booking: @booking %>
      </div>
    </div>
  </div>
</div>
